/* all html element */
* {
  margin: 0;
  padding: 0;
}

/* any body element */
body {
  color: #222222;
}

/* eny anchor elemtn */
a {
  text-decoration: none;
  color: #222222;
}

a:hover {
  color: #222222;
  text-decoration: underline;
}

/* top section - navigation */
ul.nav {
  float: right;
  margin-right: 25px;
  position: relative;
}

/* select any li elemtnted, nested inside of any ul elemtn with a class of nav */
ul.nav li {
  list-style: none;
  display: inline-block;
  padding: 5px 10px 0 0;
  vertical-align: bottom;
  margin: 5px 5px 0 0;
  font-size: 13px;
}

/* select any div ele,ent with a cass of fa */
div.fa {
   font-size: 20px;
   vertical-align: top;
   opacity: 0.7;
   cursor:default;
}

div.fa:hover {
  opacity: 1.0;
}

/* select any span element with a class of share */
span.share {
  background-color: #f2f2f2;
  padding: 7px 15px;
  position:relative;
  cursor: default;
  top: -3px;
}

span.share:hover {
  background-color: #e1e1e1;
}

/* select any img ellements with a class of proflle img */
img.profile-img {
  border-radius: 25px;
  height: 32px;
  width: 32px;
  position: relative;
  top: 9px;
}

/* middle section - search box  */
/* select any div element with a class of searchBox */
div.searchBox {
  position: absolute;
  margin-top: 75px;
  width: 100%;
}

/* select any img elemetn, nested inside of any div eleent with a searchBox */
div.searchBox img {
  padding: 142px 0 24px 0;
  display: block;
  margin: 0 auto;
}

div.searchBox input {
  width: 600px;
  margin: 0 auto;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  display: block;
}

div.searchBox input:focus {
  border-color: #f5f5f5
}

/* select any div element with a clss of buttons */
div.buttons {
  text-align: center;
  padding-left: 0;
}

div.buttons button {
  background-color: #f5f5f5;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 2px;
  color: #666666;
  font-size: 14px;
  font-weight: bold;
  line-height: 27px;
  margin: 17px 16px;
  padding: 0 12px;
  display: inline-block;
  cursor: pointer;
}

div.buttons button:hover {
  background-color: #f8f8f8;
  border: 1px solid #c6c6c6;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  color: #333333;
}

/* Bottom Section */
/* select any div element with a class of bottom */
div.bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f2f2f2;
  border-top: 1px solid #e4e4e4;
}

div.bottom ul.left,
ul.right {
  margin: 0;
}

div.bottom ul.left {
  float: left;
  padding-left: 20px;
}

div.bottom ul.right {
  float: right;
  padding-right: 10px;
}

/* select any li element, neste inside of any ul elemtn with a class of left&right, nested inside of any div elemtns with a class of bottom  */
div.bottom ul.left li,
ul.right li {
  list-style: none;
  display: inline;
  line-height: 40px;
}

div.bottom ul.right li a:first-child {
  padding-right: 8px;
}

div.bottom ul.left li:nth-child(2),
div.bottom ul.right li:nth-child(3) {
  margin-left: 7px;
}
/* select any anchor elemtnt, nested inside of bottom section ul li left & right */
div.bottom ul.left li a,
div.bottom ul.right li a {
  color: #666666;
  margin: 2px 10px 0;
  letter-spacing: 0.1px;
  font-size: 14px;
}

/* MEIDA QUERY */
@media(max-width: 675px) {
  div.searchBox input {
    width: 400px;
  }
}

@media(max-width: 525px) {
  div.bottom ul.left {
    float: none;
    display: inline-block;
    width: 100%;
    text-align: center;
  }

  div.bottom ul.right {
    display: none;
    padding: 0;
  }

  div.searchBox input {
    width: 300px;
  }
}

@media(max-width: 425px) {
  ul.nav {
    padding-left: 0;
    float: none;
    text-align: center;
    margin-right: 0;
  }

  span.share,
  img.profile-img  {
    display: none;
  }

}
